.searchContainer {
    display: flex;
    padding: 15px;
}

.feedbackContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: auto; height: 100%;
}

.dialog {
    cursor: pointer;
    transition: 0.3s;
} .dialog:hover {
    background-color: #F5F5F5;
}