.searchContainer {
    display: flex;
    padding: 8px 15px;
}

.searchForm {
    width: 100%;
}

.feedbackContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: auto; height: 100%;
}

.dialog {
    cursor: pointer;
    transition: 0.3s;
} .dialog:hover {
    background-color: #F5F5F5;
}

.title,
.description {
    height: 25px;
    font-size: 1rem;
    line-height: 1.5rem;
}