.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 770px; height: 100%;
    margin: 0; padding: 15px 0;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%; height: 120px;
    margin-bottom: 15px;
}

.receiver {
    font-size: 80px;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messagesContainer {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%; height: 0;
    padding: 15px;
    background-color: #C4C4C4;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%; height: 100%;
    overflow-y: scroll;
} ::-webkit-scrollbar {
    width: 0; height: auto;
}

.message {
    margin-bottom: 15px;
    font-size: 24px;
} .message:last-child {
    margin-bottom: 0;
}

.currentUserMessage {
    text-align: right;
}

.messageAuthor {
    display: none;
}

.text {
    display: inline-block;
    max-width: 60%;
    padding: 15px 30px;
    background-color: white;
    overflow-wrap: break-word;
}

.newMessageContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%; height: auto;
    margin-top: 15px;
}

.newMessage {
    flex: 1 1 auto;
    resize: none;
    box-sizing: border-box;
    width: auto; height: 120px;
    border: none;
    padding: 15px;
    background-color: #C4C4C4;
    font-size: 24px;
} .newMessage:focus {
    background-color: #DADADA;
    outline: none;
} 

.sendButton {
    box-sizing: border-box;
    width: 170px; height: 60px;
    border: none;
    margin-left: 15px; padding: 0 15px;
    background-color: #C4C4C4;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
} .sendButton:hover {
    background-color: #DADADA;
} .sendButton:active {
    background-color: #C4C4C4;
}