.content {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, #b8db9b 20%, #dee7a7 100%);
}

.headerContent {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    height: 22px;
}

.title h3 {
    margin: 0;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.status {
    display: flex;
    align-items: center;
    margin: 0;
    height: 18px;
    font-size: .875rem;
    color: rgb(112,117,121);
}

.messagesContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: auto; height: 0;
    overflow-y: scroll;
} ::-webkit-scrollbar {
    width: 0; height: auto;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%; height: auto;
    max-width: 696px;
}

.messageContainer {
    margin-bottom: 6px;
} 
.messageContainer:first-child {
    padding-top: 8px;
}
.messageContainer:last-child {
    padding-bottom: 8px;
    margin-bottom: 0;
}

.message {
    display: inline-block;
    max-width: 60%;
    border-radius: 8px;
    padding: 6px 7px 8px 9px;
    font-size: 1rem;
    overflow-wrap: break-word;
    box-shadow: 0 1px 2px rgba(114,114,114,0.25098);
}

.newMessageFormContainer {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    border-top: 1px solid rgb(218,220,224);;
    background-color: #FFFFFF;
}

.newMessageForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 696px;
}

@media (max-width: 1200px) {
    .messagesContainer,
    .newMessageFormContainer {
        padding: 0 24px;
    }
}